.navbar-brand {
	margin-left: 16px;
}
.nav-link {
	font-weight: 500 !important;
}

.fa-twitter {
	color: aqua;
	font-size: 21px;
}
.facebook {
	color: #3b5998;
	font-size: 21px;
}
.linkedin {
	color: lightblue;
	font-size: 21px;
}
.active {
	font-weight: bold;
}
a {
	color: black;
}
img {
	width: 75px;
	height: auto;
	margin-right: 6px;
}
.shoppingCard {
	span {
		margin-left: 8px;
		margin-right: 8px;
		font-size: 18px;
	}
	i {
		margin-left: 4px;
		margin-right: 4px;
		font-size: 19px;
	}
}

.navbar {
	background-color: white;
}