<div class="white px-4 section-header">
	<h3>Tijdlijn</h3>
	<p class="grey-text pt-3">
		Vanaf het moment dat je werkloos bent wil iedereen je cv hebben.<br />
		Nou hier is ie dan: mijn tumultueuze loopbaan van de afgelopen vijf jaar in
		een paar regels.
	</p>
</div>

<div class="container-fluid pb-5">
	<div class="row mt-1">
		<div class="col-md-12">
			<!-- Stepers Wrapper -->
			<!-- Stepers Wrapper -->
			<ul class="stepper stepper-vertical">
				<!-- First Step -->
				<li class="completed">
					<a>
						<span class="circle purple-gradient">1</span>
						<span class="label">1990 - 2015</span>
					</a>

					<!-- Section Description -->
					<div class="step-content grey lighten-3">
						<span tooltip="Tooltip" placement="top" show-delay="0">
							Journalist
						</span>
					</div>
				</li>

				<!-- Second Step -->
				<li class="active">
					<!--Section Title -->
					<a>
						<span class="circle purple-gradient">2</span>
						<span class="label">december 2017</span>
					</a>

					<!-- Section Description -->
					<div class="step-content grey lighten-3">
						<span> Lascursus </span>
					</div>
				</li>

				<!-- Third Step -->
				<li class="active">
					<a>
						<span class="circle purple-gradient">3</span>
						<span class="label">januari - november 2018</span>
					</a>

					<!-- Section Description -->
					<div class="step-content grey lighten-3">
						<span> Metaalbewerker </span>
					</div>
				</li>

				<!-- Third Step -->
				<li class="active">
					<!-- <a >
            <span class="circle purple-gradient">3</span>
            <span class="label">januari - november 2018</span>
          </a> -->

					<!-- Section Description -->
					<!-- <div class="step-content grey lighten-3">
            <span>
              Metaalbewerker
            </span>
          </div> -->
				</li>

				<li class="active">
					<a>
						<span class="circle purple-gradient">4</span>
						<span class="label">november - juni 2019</span>
					</a>

					<div class="step-content grey lighten-3">
						<span> Orderpicker </span>
					</div>
				</li>
				<li class="active">
					<a>
						<span class="circle purple-gradient">5</span>
						<span class="label">juni - november 2019</span>
					</a>

					<div class="step-content grey lighten-3">
						<span> Metaalbewerker </span>
					</div>
				</li>
				<li class="active">
					<a>
						<span class="circle purple-gradient">6</span>
						<span class="label">oktober - december 2019</span>
					</a>

					<div class="step-content grey lighten-3">
						<span> lascursus Mag 2 </span>
					</div>
				</li>
				<li class="active">
					<a>
						<span class="circle purple-gradient">7</span>
						<span class="label">december - maart 2020</span>
					</a>

					<div class="step-content grey lighten-3">
						<span> metaalbewerker verschillende bedrijven </span>
					</div>
				</li>
				<li class="active">
					<a>
						<span class="circle purple-gradient">8</span>
						<span class="label">maart - augustus 2020</span>
					</a>

					<div class="step-content grey lighten-3">
						<span> productiemedewerker </span>
					</div>
				</li>
				<li class="active">
					<!--Section Title -->
					<a>
						<span class="circle purple-gradient">9</span>
						<span class="label">augustus - heden 2020</span>
					</a>

					<!-- Section Description -->
					<div class="step-content grey lighten-3">
						<span> Opleiding operator </span>
					</div>
				</li>
				<li class="active">
					<!--Section Title -->
					<!-- <a>
						<span class="circle purple-gradient">9</span>
						<span class="label">augustus - heden 2020</span>
					</a>

					<div class="step-content grey lighten-3">
						<span> Opleiding operator </span>
					</div> -->
				</li>
			</ul>
			<!-- /.Stepers Wrapper -->
		</div>
	</div>
</div>
<!-- juni - november 2019 metaalbewerker 
oktober- december lascursus Mag 2
december - maart 2020 metaalbewerker verschillende bedrijven 
maart 2020 - heden productiemedewerker -->
