button {
	margin-top: 8px;
}
.message {
	text-align: center;
}
.payment {
	margin: auto;
	width: 50%;
}
.acc {
	text-align: center;
	margin-top: 8px;
}
.acc a {
	font-weight: bold;
	color: blue;
}
.container-fluid {
	margin-top: 16px;
	margin-bottom: 8px;
}
.container-fluid a {
	color: blue;
}
.container-fluid button {
	width: 100%;
	height: 50px;
	border: none;
	color: white;
}
.container-fluid form {
	width: 60%;
	margin: auto;
}
.error {
	color: red;
}
.succeed {
	color: green;
}
.spinner-border {
	margin: auto;
	margin-top: 20%;
	width: 4rem;
	height: 4rem;
}
.col-12 {
	margin-top: 15%;
	margin-bottom: 5%;
}

@media screen and (max-width: 600px) {
	.container-fluid form {
		width: 100%;
		margin: auto;
	}
	.payment {
		margin: auto;
		width: 90%;
	}
	.col-12 {
		margin-top: 30%;
		margin-bottom: 5%;
	}
  }