<div class="col-lg-12 col-md-12 col-sm-12 col-12">
	<mdb-card class="payment">
		<div class="view rgba-white-slight waves-light" mdbWavesEffect>
			<a>
				<div class="mask"></div>
			</a>
		</div>
		<!--Card content-->
		<mdb-card-body>
			<!--Title-->
			<mdb-card-title>
				<h4>Betaling succesvol</h4>
			</mdb-card-title>

			<!--Text-->
			<mdb-card-text>
				De betaling is gelukt.<br />
				Er is een email verstuurd met daarin de aangekochte producten en een
				bon.<br />
				Mochten er vragen zijn dan kun je altijd contact opnemen.<br>
				<b>Hint:</b> mocht je de email niet zien dan kan ik in je spam terecht gekomen zijn.
			</mdb-card-text>
		</mdb-card-body>
	</mdb-card>

	<!-- Card -->
</div>
