<!-- Intro Section -->
<section
	class="view intro-2"
	style="
		background-image: linear-gradient(
				to bottom,
				rgba(245, 246, 252, 0.52),
				rgba(162, 78, 179, 0.7)
			),
			url(https://mdbootstrap.com/img/Photos/Others/architecture.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	"
>
	<div class="mask">
		<div
			class="container h-100 d-flex justify-content-center align-items-center"
		>
			<div class="row h-100 d-flex justify-content-center align-items-center">
				<div
					class="col-md-10 col-lg-6 text-center text-md-left mt-5 pt-4 pt-md-0 mt-lg-0 mb-5 mb-md-0"
				>
					<div class="white-text">
						<h1
							class="h1-responsive font-weight-bold mt-sm-5 mb-4 wow fadeInLeft"
							data-wow-delay="0.3s"
						>
							Ik vijftigplus en kom boven
						</h1>
						<hr class="hr-dark wow fadeInLeft" data-wow-delay="0.3s" />
						<h6 class="wow fadeInLeft" data-wow-delay="0.3s">
							Als je na 25 jaar uit je vak en op straat wordt gezet moet je wat
							verzinnen. Over de worstelingen en jubelmomenten schreef ik
							brieven aan ‘mijn moeder’. Wellicht ter leeringh ende vermaeck…
						</h6>
						<a
							class="btn pink-gradient btn-rounded btn-lg font-weight-bold wow fadeInLeft"
							data-wow-delay="0.4s"
							style="color: black"
							href="/brieven"
							routerLink="/brieven"
							>Koop een brief</a
						>
						<a
							class="btn btn-rounded btn-lg purple-text font-weight-bold ml-lg-0 wow fadeInLeft"
							data-wow-delay="0.4s"
							routerLink="/register"
						>
							Registreer</a
						>
					</div>
				</div>

				<div
					class="col-lg-6 d-none d-sm-block mt-3 wow fadeInRight"
					data-wow-delay="0.3s"
				>
					<img
						src="assets/img/GJ-logo-rounded-50.png"
						alt="Logo GJ rounded"
						class="img-fluid main-logo"
					/>
				</div>
			</div>
		</div>
	</div>
</section>

<main>
	<div
		class="container-fluid"
		style="background-color: white; border-bottom: 0px"
	>
		<!-- <hr /> -->
		<!-- First container -->
		<div class="container pt-3">
			<!-- Section About -->
			<section id="about" class="section pt-2 pb-5 box">
				<!-- Secion heading -->

				<div class="line wow fadeIn" data-wow-delay="0.2s"></div>

				<!-- First row -->
				<div class="row mt-5 pt-5">
					<!-- First column -->
					<div class="col-lg-6 col-md-12 col-12 mb-5 wow" data-wow-delay="0.4s">
						<!-- Image -->
						<h1
							class="text-left black-text text-uppercase font-weight-bold mt-5 mb-3 mt-4 wow fadeIn"
							data-wow-delay="0.2s"
						>
							Lieve mams
						</h1>

						<!-- Section description -->
						<p
							class="text-left black-text text-uppercase font-weight-bold wow fadeIn"
							data-wow-delay="0.2s"
						>
							Weet je wát een leuk plan is?
						</p>
						<!-- Description -->
						<p class="black-text mb-4" align="justify">
							We gaan het er zaterdag nog over hebben. Alle brieven die ik aan
							je heb geschreven de afgelopen vijf jaar ga ik publiceren. Nou
							ja, niet álle. Maar wel de schrijfsels die gaan over mijn ontslag,
							de werkloosheid, mijn jammerlijke poging tot een eigen bedrijfje,
							de lascursus en de eerste, tweede, derde, vierde en vijfde
							baan.<br />
							Ik denk namelijk dat ik niet de enige vijftigplusser ben die na
							lange tijd zomaar wordt gedwongen zijn veilige leventje bij de
							baas op te geven en op zoek moet gaan naar iets anders, iets héél
							anders. Misschien vindt iemand het dan leuk om te lezen over de
							onzekerheden, de triomfen en mislukkingen, de pieken en de dalen,
							alles wat daarbij komt kijken.<br />
							Maar goed, zie je zaterdag, half elf koffietijd!<br /><br />
							Zoonlief
						</p>
						<br />

						<a
							class="btn waves-effect purple-gradient"
							style="margin-left: 0px"
							routerLink="/over-mij"
							href="/over-mij"
							>Lees meer</a
						>
					</div>
					<!-- First column -->

					<!-- Second column -->
					<div
						class="col-lg-6 col-xl-6 d-none d-sm-block wow fadeIn"
						data-wow-delay="0.4s"
					>
						<img
							src="assets/img/GJ_logo.jpg"
							class="img-fluid rounded"
							alt="My photo"
							style="
								width: 90%;
								margin: auto;
								display: block;
								margin-top: -40px;
								height: 90%;
							"
						/>
					</div>
					<!-- Second column -->
				</div>
				<!-- First row -->
			</section>
			<!-- Section About -->
		</div>
	</div>
	<div
		class="streak streak-photo streak-md"
		style="
			background-image: linear-gradient(
					to bottom,
					rgba(245, 246, 252, 0.52),
					rgba(176, 162, 179, 0.7)
				),
				url('https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20%2811%29.jpg');
		"
	>
		<div class="mask flex-center">
			<div class="black-text smooth-scroll mx-4">
				<h2 class="h2-responsive wow fadeIn mb-5" style="text-align: center">
					<i class="fas fa-quote-left" aria-hidden="true"></i> Altijd beginnen
					met het moeilijkste,” zei mijn eerste baas. Die neiging heb ik nooit,
					maar je rondt met veel meer plezier en uitgeruster een klus af.
					<i class="fas fa-quote-right" aria-hidden="true"></i>
				</h2>

				<!-- <h5 class="text-center font-italic wow fadeIn" data-wow-delay="0.2s">
      ~ 
    </h5> -->
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<!-- Section: About 1 -->
		<section class="mt-5 mb-5 py-3 wow fadeIn box" data-wow-delay="0.2s">
			<!-- Grid row -->
			<div class="row pt-2 mt-lg-5">
				<!-- Grid column -->
				<div class="offset-lg-1"></div>
				<div
					class="col-lg-5 d-none d-sm-block mb-3 wow fadeIn"
					data-wow-delay="0.4s"
				>
					<!-- Image -->
					<img
						src="assets/img/letter.jpg"
						class="img-fluid rounded"
						alt="letter photo"
						style="width: 80%; margin: auto; display: block"
					/>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div
					class="col-lg-5 ml-auto col-md-12 wow fadeIn"
					data-wow-delay="0.4s"
				>
					<!-- Secion heading -->
					<h2
						class="mb-5 title font-weight-bold wow fadeIn"
						data-wow-delay="0.2s"
					>
						<strong>Mijn brieven</strong>
					</h2>

					<!-- Description -->
					<p align="justify" class="grey-text">
						In brieven aan mijn moeder schrijf ik over wat me is overkomen sinds
						mijn ontslag bij de regionale krant op mijn vijftigste verjaardag.
						Wat doet werkloosheid met je? Hoe zet je een bedrijfje op en hoe
						krijg je in de gaten dat dat niets voor je is? <br />De lascursus,
						aangeboden door UWV, bood me een uitweg uit de malaise. Het bleek
						geen weg over rozen te zijn… De brieven worden geregeld aangevuld
						met nieuwe schrijfsels aan mam.
					</p>
					<!-- <p class="grey-text">
            <i
              class="fas fa-long-arrow-alt-right orange-text mr-2"
              aria-hidden="true"
            ></i>
            Perferendis iusto sint tempora
          </p>
          <p class="grey-text">
            <i
              class="fas fa-long-arrow-alt-right orange-text mr-2"
              aria-hidden="true"
            ></i>
            Lorem ipsum dolor sit amet
          </p>
          <p class="grey-text">
            <i
              class="fas fa-long-arrow-alt-right orange-text mr-2"
              aria-hidden="true"
            ></i>
            Repellendus voluptatum, magni
          </p> --><br />
					<a
						class="btn waves-effect purple-gradient"
						style="margin-left: 0px"
						href="/brieven"
						routerLink="/brieven"
						>Lees meer</a
					>
				</div>
				<!-- Grid column -->
				<div class="offset-lg-1"></div>
			</div>
			<!-- Grid row -->
		</section>
		<!-- Section: About 1 -->
	</div>

	<div
		class="streak streak-photo streak-md"
		style="
			background-image: linear-gradient(
					to bottom,
					rgba(182, 183, 187, 0.52),
					rgba(172, 168, 172, 0.7)
				),
				url('https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20%2811%29.jpg');
		"
	>
		<div class="mask flex-center">
			<div class="black-text smooth-scroll mx-4">
				<h2 class="h2-responsive wow fadeIn mb-5" style="text-align: center">
					<i class="fas fa-quote-left" aria-hidden="true"></i> Een klus is nooit
					precies af om vijf uur. Als de klus wel aan het einde van de werkdag
					klaar is, is dat óf heel toevallig, óf je hebt de hele tijd op de klok
					zitten kijken.
					<i class="fas fa-quote-right" aria-hidden="true"></i>
				</h2>

				<!-- <h5 class="text-center font-italic wow fadeIn" data-wow-delay="0.2s">
      ~ 
    </h5> -->
			</div>
		</div>
	</div>
	<div class="container">
		<div class="container py-4">
			<!-- Section: About 2 -->
			<section class="mt-3 mb-3 pb-3 box">
				<!-- Grid row -->
				<div class="row mt-5 pt-5 wow fadeIn" data-wow-delay="0.4s">
					<!-- Grid column -->
					<div class="col-md-12 col-lg-6 mb-5 text-left">
						<!-- Secion heading -->
						<h2
							class="mb-5 title font-weight-bold wow fadeIn"
							data-wow-delay="0.2s"
						>
							<strong>Mijn tijdlijn</strong>
						</h2>

						<!-- Description -->
						<p align="justify" class="grey-text">
							Vanaf het moment dat je werkloos bent wil iedereen je cv
							hebben.<br />
							Nou hier is ie dan: mijn tumultueuze loopbaan van de afgelopen
							vijf jaar in een paar regels.<br /><br />
							Wil je mijn volledige tijdlijn zien? Registreer je nu
							<a routerLink="/register">hier</a> gratis en zie mijn complete
							loopbaan.
						</p>
						<!-- <p align="justify" class="grey-text">
              Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure,
              animi excepturi modi aut possimus in hic molestias repellendus
              illo ullam odit quia velit. Lorem ipsum dolor sit amet,
              consectetur adipisicing elit.
            </p>
            <p align="justify" class="grey-text">
              Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure,
              animi excepturi modi aut possimus in hic molestias repellendus
              illo
            </p> -->
						<br /><br />
						<a
							class="btn waves-effect purple-gradient"
							style="margin-left: 0px"
							href="/tijdlijn"
							routerLink="/tijdlijn"
							>Lees meer</a
						>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-lg-6 d-none d-sm-block mb-5 text-center">
						<!-- Image -->
						<!-- <img
              src="https://mdbootstrap.com/img/Photos/Others/images/95.jpg"
              class="img-fluid rounded z-depth-1"
              alt="My photo"
            /> -->
						<!-- Vertical Steppers -->
						<div class="row mt-1">
							<div class="col-md-12">
								<!-- Stepers Wrapper -->
								<ul class="stepper stepper-vertical">
									<!-- First Step -->
									<li class="completed">
										<a href="#!">
											<span class="circle purple-gradient">1</span>
											<span class="label">1990 - 2015</span>
										</a>

										<!-- Section Description -->
										<div class="step-content grey lighten-3">
											<span> Journalist </span>
										</div>
									</li>

									<!-- Second Step -->
									<li class="active">
										<!--Section Title -->
										<a href="#!">
											<span class="circle purple-gradient">2</span>
											<span class="label">december 2017</span>
										</a>

										<!-- Section Description -->
										<div class="step-content grey lighten-3">
											<span> Lascursus </span>
										</div>
									</li>

									<!-- Third Step -->
									<li class="active">
										<a href="#!">
											<span class="circle purple-gradient">3</span>
											<span class="label">januari - november 2018</span>
										</a>

										<!-- Section Description -->
										<div class="step-content grey lighten-3">
											<span> Metaalbewerker </span>
										</div>
									</li>

									<li class="active">
										<a href="#!">
											<span
												class="circle"
												style="background-color: white !important"
											></span>
											<span class="label"></span>
										</a>
									</li>
								</ul>
								<!-- /.Stepers Wrapper -->
							</div>
						</div>

						<!-- Steppers Navigation -->
						<!-- <div class="row mt-1">
              <div class="col-md-12 text-right">
                <button mdbBtn flat="true" size="sm">Cancel</button>
                <button mdbBtn color="primary" size="sm">Next</button>
              </div>
            </div> -->
						<!-- /.Vertical Steppers -->
					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
			</section>
			<!-- Section: About 2 -->
		</div>
	</div>
	<!-- Second container -->
	<div
		class="streak streak-photo streak-md"
		style="
			background-image: linear-gradient(
					to bottom,
					rgba(182, 183, 187, 0.52),
					rgba(172, 168, 172, 0.7)
				),
				url('https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20%2811%29.jpg');
		"
	>
		<div class="mask flex-center">
			<div class="black-text smooth-scroll mx-4">
				<h2 class="h2-responsive wow fadeIn mb-5" style="text-align: center">
					<i class="fas fa-quote-left" aria-hidden="true"></i> Altijd ‘ja’
					zeggen als de baas je vraagt of je iets kan. Je kan daarna nog vragen
					hoe het moet, maar dan heb je in ieder geval werk
					<i class="fas fa-quote-right" aria-hidden="true"></i>
				</h2>

				<!-- <h5 class="text-center font-italic wow fadeIn" data-wow-delay="0.2s">
    ~ 
  </h5> -->
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<!-- Section: About 3 -->
		<section class="mt-5 mb-5 py-3 wow fadeIn box" data-wow-delay="0.2s">
			<!-- Grid row -->
			<div class="row pt-2 mt-lg-5">
				<!-- Grid column -->
				<div
					class="col-lg-6 col-12 d-none d-sm-block mb-3 wow fadeIn"
					data-wow-delay="0.4s"
				>
					<!-- Image -->
					<img
						src="assets/img/GJ_logo.jpg"
						class="img-fluid rounded z-depth-1"
						alt="My photo"
						style="width: 60%; margin: auto; display: block; height: 350px"
					/>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div
					class="col-lg-6 ml-auto col-md-12 col-12 wow fadeIn"
					data-wow-delay="0.4s"
				>
					<!-- Secion heading -->
					<h2
						class="mb-5 title font-weight-bold wow fadeIn"
						data-wow-delay="0.2s"
					>
						<strong>Sollicitatie</strong>
					</h2>

					<!-- Description -->
					<p align="justify" class="grey-text">
						Op deze plek verschijnt tweewekelijks een sollicitatiebrief.<br />
						Ik zou ‘m niet kopiëren, want in de ruim twee jaar heb ik louter<br />
						afwijzingen gekregen van de heren en dames werkgevers.<br />
						Ik pas namelijk niet in het profiel. Nochtans: veel leesplezier!
					</p>
					<!-- <p class="grey-text">
            <i
              class="fas fa-long-arrow-alt-right orange-text mr-2"
              aria-hidden="true"
            ></i>
            Perferendis iusto sint tempora
          </p>
          <p class="grey-text">
            <i
              class="fas fa-long-arrow-alt-right orange-text mr-2"
              aria-hidden="true"
            ></i>
            Lorem ipsum dolor sit amet
          </p>
          <p class="grey-text">
            <i
              class="fas fa-long-arrow-alt-right orange-text mr-2"
              aria-hidden="true"
            ></i>
            Repellendus voluptatum, magni
          </p> -->
					<br /><br /><br /><br />
					<a
						class="btn waves-effect purple-gradient"
						style="margin-left: 0px"
						href="/sollicitatie"
						routerLink="/sollicitatie"
						>Lees meer</a
					>
				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</section>
		<!-- Section: About 3 -->
	</div>
	<div
		class="streak streak-photo streak-md"
		style="
			background-image: linear-gradient(
					to bottom,
					rgba(182, 183, 187, 0.52),
					rgba(172, 168, 172, 0.7)
				),
				url('https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20%2811%29.jpg');
		"
	>
		<div class="mask flex-center">
			<div class="black-text smooth-scroll mx-4">
				<h2 class="h2-responsive wow fadeIn mb-5" style="text-align: center">
					<i class="fas fa-quote-left" aria-hidden="true"></i> Altijd eerst
					kijken, dan doen,” riep een chef me vanuit zijn heftruck toe. Meteen
					daarna ramde hij een stapel banden. Het is een rustgevende gedachte
					dat iedereen fouten maakt.
					<i class="fas fa-quote-right" aria-hidden="true"></i>
				</h2>

				<!-- <h5 class="text-center font-italic wow fadeIn" data-wow-delay="0.2s">
      ~ 
    </h5> -->
			</div>
		</div>
	</div>
	<!-- Price container -->
	<div class="container" style="margin-top: 16px">
		<section class="my-5 wow fadeIn" data-wow-delay="0.3s">
			<!-- Section heading -->
			<h2 class="h1-responsive font-weight-bold text-center my-5">Producten</h2>
			<!-- Section description -->
			<p class="text-center w-responsive mx-auto mb-5 grey-text">
				Hieronder kun je de prijzen vinden voor de producten die ik verkoop.
			</p>

			<!-- Grid row -->
			<div class="row">
				<!-- Grid column -->
				<div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
					<!-- Pricing card -->
					<div class="card pricing-card white-text">
						<!-- Price -->
						<div class="purple-gradient rounded-top">
							<h4 class="option">Sollicitatiebrieven</h4>
						</div>

						<!-- Features -->
						<div class="card-body striped purple-striped card-background px-5">
							<h2 class="my-4 pb-3 h1">GRATIS</h2>
							<ul>
								<li>
									<p><strong></strong></p>
								</li>
								<li>
									<p><strong>Gratis</strong> sollicitatiebrieven</p>
								</li>
								<!-- <li>
                  <p><strong>150</strong> features</p>
                </li> -->
								<!-- <li>
                  <p><strong>200</strong> members</p>
                </li> -->
							</ul>
							<button
								class="mb-3 mt-3 btn purple-gradient btn-rounded"
								(click)="navigate('/sollicitatie')"
							>
								<b>Bekijk</b>
							</button>
						</div>
						<!-- Features -->
					</div>

					<!-- Pricing card -->
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-lg-4 col-md-6 mb-md-0 mb-4">
					<!-- Pricing card -->
					<div class="card pricing-card white-text">
						<!-- Price -->
						<div class="aqua-gradient rounded-top">
							<h4 class="option">Brieven</h4>
						</div>

						<!-- Features -->
						<div class="card-body striped green-striped card-background px-5">
							<h2 class="my-4 pb-3 h1">€1.50</h2>
							<ul>
								<li>
									<p><strong></strong></p>
								</li>
								<li>
									<p><strong>Brieven</strong></p>
								</li>
							</ul>
							<button
								class="mb-3 mt-3 btn aqua-gradient btn-rounded"
								(click)="navigate('/brieven')"
							>
								<b>Koop</b>
							</button>
						</div>
						<!-- Features -->
					</div>
					<!-- Pricing card -->
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-lg-4 col-md-6">
					<!-- Pricing card -->
					<div class="card pricing-card white-text">
						<!-- Price -->
						<div class="purple-gradient rounded-top">
							<h4 class="option">Blog</h4>
						</div>

						<!-- Features -->
						<div class="card-body striped purple-striped card-background px-5">
							<h2 class="my-4 pb-3 h1">GRATIS</h2>
							<ul>
								<li>
									<p><strong></strong></p>
								</li>
								<li>
									<p><strong>Gratis</strong> blogposts</p>
								</li>
							</ul>
							<button
								class="mb-3 mt-3 btn purple-gradient btn-rounded"
								(click)="navigate('/blog')"
							>
								<b>Bekijk</b>
							</button>
						</div>
						<!-- Features -->
					</div>
					<!-- Pricing card -->
				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</section>
		<!-- Section: Pricing v.6 -->
	</div>

	<hr />

	<!-- Section: Contact v.2 -->
	<div class="container">
		<section id="contact" class="text-center my-5 box">
			<!-- Section heading -->
			<h3
				class="text-center title my-5 dark-black-text font-weight-bold wow fadeIn"
				data-wow-delay="0.2s"
			>
				<strong>Contact</strong>
			</h3>

			<!-- Section description -->
			<p
				class="grey-text w-responsive mx-auto mb-5 wow fadeIn"
				data-wow-delay="0.2s"
			>
				Neem gerust contact met mij op als er vragen of opmerkingen zijn.
			</p>

			<div class="row wow fadeIn" data-wow-delay="0.4s">
				<!-- Grid column -->
				<div class="col-md-8 col-lg-9">
					<form [formGroup]="contactForm" method="POST">
						<!-- Grid row -->
						<div class="row">
							<!-- Grid column -->
							<div class="col-md-6">
								<div class="md-form mb-0">
									<input
										type="text"
										id="name"
										name="name"
										class="form-control"
										formControlName="name"
									/>
									<label for="form41" class="">Naam</label>
								</div>
							</div>

							<!-- Grid column -->
							<div class="col-md-6">
								<div class="md-form mb-0">
									<input
										type="email"
										id="email"
										class="form-control"
										name="email"
										formControlName="email"
									/>
									<label for="form52" class="">Email</label>
								</div>
							</div>
						</div>
						<!-- Grid row -->

						<!-- Grid row -->
						<div class="row">
							<div class="col-md-12">
								<div class="md-form mb-0">
									<input
										type="text"
										id="subject"
										class="form-control"
										name="subject"
										formControlName="subject"
									/>
									<label for="form51" class="">Onderwerp</label>
								</div>
							</div>
						</div>
						<!-- Grid row -->

						<!-- Grid row -->
						<div class="row">
							<!-- Grid column -->
							<div class="col-md-12">
								<div class="md-form mb-0">
									<textarea
										type="text"
										id="message"
										class="md-textarea form-control"
										rows="3"
										name="message"
										formControlName="message"
									></textarea>
									<label for="form76">Bericht</label>
								</div>
							</div>
						</div>
						<!-- Grid row -->
					</form>

					<div class="text-center text-md-left mb-5 mt-4">
						<input
							type="submit"
							name="submit"
							class="btn btn-rounded purple-gradient font-weight-bold"
							style="margin-left: 0px"
							(click)="email()"
						/>
					</div>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3">
					<ul class="list-unstyled contact-icons float-md-right">
						<li>
							<i class="fas fa-map-marker-alt fa-2x title"></i>
							<p>Gelderland, NL</p>
						</li>

						<!-- <li>
              <i class="fas fa-phone fa-2x title"></i>
              <p>+ 01 234 567 89</p>
            </li>

            <li>
              <i class="fas fa-envelope fa-2x title"></i>
              <p>contact@gmail.com</p>
            </li> -->
					</ul>
				</div>
				<!-- Grid column -->
			</div>
		</section>
		<!-- Section: Contact v.2 -->
	</div>
</main>
