<div class="container py-5">
	<div class="row">
		<div class="col-md-6">
			<mdb-card class="animated fadeIn mb-3" borderColor="border-purple">
				<mdb-card-header>Brieven</mdb-card-header>
				<mdb-card-body class="p-3">
					<mdb-card-title>
						<h5 class="mb-3">Brieven</h5>
					</mdb-card-title>
					<mdb-card-text
						>Hier kun je al je brieven terug vinden die je een keer hebt aangeschaft. 
						Je kan je aangekochte brieven hier ook nog een keer
						downloaden mocht je ze zijn kwijt geraakt.</mdb-card-text
					>
					<a routerLink="/admin/brieven" mdbBtn class="purple-gradient"
						>Ga naar brieven</a
					>
				</mdb-card-body>
			</mdb-card>
		</div>

		<div class="col-md-6">
			<mdb-card class="animated fadeIn mb-3" borderColor="border-purple">
				<mdb-card-header>Tijdlijn</mdb-card-header>
				<mdb-card-body class="p-3">
					<mdb-card-title>
						<h5 class="mb-3">Tijdlijn</h5>
					</mdb-card-title>
					<mdb-card-text>
						Vanaf het moment dat je werkloos bent wil iedereen je cv hebben. Nou
						hier is ie dan: mijn tumultueuze loopbaan van de afgelopen vijf jaar
						in een paar regels. Hier kan je mijn volledige tijdlijn
						bekijken.</mdb-card-text
					>
					<a routerLink="/admin/tijdlijn" mdbBtn class="purple-gradient"
						>Ga naar tijdlijn</a
					>
				</mdb-card-body>
			</mdb-card>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<mdb-card class="animated fadeIn mb-3" borderColor="border-purple">
				<mdb-card-header>Profiel</mdb-card-header>
				<mdb-card-body class="p-3">
					<mdb-card-title>
						<h5 class="mb-3">Profiel</h5>
					</mdb-card-title>
					<mdb-card-text>Bekijk hier je profielgegevens. </mdb-card-text>
					<a routerLink="/admin/profile" mdbBtn class="purple-gradient"
						>Ga naar profiel</a
					>
				</mdb-card-body>
			</mdb-card>
		</div>

		<!-- <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-purple">
        <mdb-card-header>App section</mdb-card-header>
        <mdb-card-body class="p-3">
          <mdb-card-title>
            <h5 class="mb-3">Profile</h5>
          </mdb-card-title>
          <mdb-card-text
            >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi
            blanditiis, assumenda dolorem possimus id qui ut eaque. Similique
            porro labore commodi impedit deserunt? Officiis nihil rem aut
            molestias illum eos! Similique accusantium reprehenderit
            necessitatibus quo totam provident laudantium recusandae sapiente,
            nemo ex illum nobis, officia, vero dolores! Distinctio similique
            pariatur, at sint nemo quidem commodi vel rerum aliquid quibusdam?
            Perferendis.</mdb-card-text
          >
          <a routerLink="/admin/profile" mdbBtn class="purple-gradient">Go to section</a>
        </mdb-card-body>
      </mdb-card>
    </div> -->
	</div>
</div>

