<!-- Footer -->
<footer
	class="page-footer text-center text-md-left unique-color-dark pt-0"
	*ngIf="!show()"
>
	<div class="top-pink-footer">
		<div class="container">
			<!-- Grid row -->
			<div class="row py-4 d-flex align-items-center">
				<!-- Grid column -->
				<div class="col-md-6 col-lg-5 text-center text-md-left mb-md-0">
					<h6 class="mb-4 mb-md-0 white-text">Volg me op social media</h6>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-6 col-lg-7 text-center text-md-right">
					<!-- Twitter -->
					<a class="p-2 m-2 fa-lg tw-ic" (click)="social('tw')">
						<i class="fab fa-twitter white-text mr-lg-4"> </i>
					</a>
					<!-- Facebook -->
					<a class="p-2 m-2 fa-lg fb-ic ml-0" (click)="social('fb')">
						<i class="fab fa-facebook-f white-text mr-lg-4"> </i>
					</a>
					<!-- Google + -->
					<!-- <a class="p-2 m-2 fa-lg gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-lg-4"> </i>
            </a> -->
					<!-- Linkedin -->
					<a class="p-2 m-2 fa-lg li-ic" (click)="social('ld')">
						<i class="fab fa-linkedin-in white-text mr-lg-4"> </i>
					</a>
					<!-- Instagram -->
					<!-- <a class="p-2 m-2 fa-lg ins-ic">
              <i class="fab fa-instagram white-text mr-lg-4"> </i>
            </a> -->
				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
	</div>

	<!-- Footer Links -->
	<div class="container mt-5 mb-4 text-center text-md-left">
		<div class="row mt-3">
			<!-- First column -->
			<div class="col-md-3 col-lg-4 col-xl-3 mb-5">
				<h6 class="spacing font-weight-bold">
					<strong>Gerrit Jan</strong>
				</h6>
				<hr
					class="purple-gradient accent-2 mb-4 mt-0 d-inline-block mx-auto"
					style="width: 60px"
				/>
				<p>
					Als je na 25 jaar uit je vak en op straat wordt gezet moet je wat
					verzinnen. Het eigen bedrijf was niets voor mij. Over de worstelingen
					en jubelmomenten schreef ik brieven aan ‘mijn moeder’. Wellicht ter
					leeringh ende vermaeck…
				</p>
			</div>
			<!-- First column -->

			<!-- Second column -->
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-5">
				<h6 class="spacing font-weight-bold">
					<strong>Producten</strong>
				</h6>
				<hr
					class="purple-gradient accent-2 mb-4 mt-0 d-inline-block mx-auto"
					style="width: 60px"
				/>
				<p>
					<a routerLink="/blog">Blog</a>
				</p>
				<p>
					<a routerLink="/brieven">Brieven</a>
				</p>
				<p>
					<a routerLink="/tijdlijn">Tijdlijn</a>
				</p>
				<p>
					<a routerLink="/sollicitatie">Sollicitatie</a>
				</p>
			</div>
			<!-- Second column -->

			<!-- Third column -->
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-5">
				<h6 class="spacing font-weight-bold">
					<strong>Handige links</strong>
				</h6>
				<hr
					class="purple-gradient accent-2 mb-4 mt-0 d-inline-block mx-auto"
					style="width: 60px"
				/>
				<p>
					<a routerLink="/login">Login</a>
				</p>
				<p>
					<a routerLink="/register">Registreer</a>
				</p>
				<p>
					<a routerLink="/brieven">Brieven</a>
				</p>
				<p>
					<a routerLink="/blog">Blog</a>
				</p>
			</div>
			<!-- Third column -->

			<!-- Fourth column -->
			<div class="col-md-4 col-lg-3 col-xl-3">
				<h6 class="spacing font-weight-bold">
					<strong>Contact</strong>
				</h6>
				<hr
					class="purple-gradient accent-2 mb-4 mt-0 d-inline-block mx-auto"
					style="width: 60px"
				/>
				<p><i class="fas fa-home mr-3"></i> Gelderland, NL</p>
				<!-- <p><i class="fas fa-envelope mr-3"></i>GJBrieven@gmail.com</p> -->
				<!-- <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p> -->
			</div>
			<!-- Fourth column -->
		</div>
	</div>
	<!-- Footer Links -->

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">
		<div class="container-fluid unique-color-dark" style="border: none">
			© 2019 Copyright:
			<a href="https://mdbootstrap.com/education/bootstrap/" target="_blank">
				Gerrit Jan
			</a>
		</div>
	</div>
	<!-- Copyright -->
</footer>
