<section
	class="view intro-2"
	style="
		background-image: linear-gradient(
				to bottom,
				rgba(245, 246, 252, 0.52),
				rgba(176, 162, 179, 0.7)
			),
			url(assets/img/job-interview.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		height: 50vh;
	"
>
	<div class="mask">
		<div
			class="container h-100 d-flex justify-content-center align-items-center"
		>
			<div class="row h-100 d-flex justify-content-center align-items-center">
				<div
					class="col-md-12 col-lg-12 text-center text-md-left mt-5 pt-4 pt-md-0 mt-lg-0 mb-5 mb-md-0"
				>
					<h1><b>Sollicitaties</b></h1>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container sollicitatie">
	<div class="row">
		<!-- Card -->
		<div class="col-lg-4 col-md-6 col-12">
			<mdb-card>
				<div class="view rgba-white-slight waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img
						src="assets/img/com-ad.jpg"
						alt="Card image cap"
					></mdb-card-img>
					<a>
						<div class="mask"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Sollicitatie 1</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text>
						Bekijk hier mijn sollicitatiebrief voor communicatie adviseur.
					</mdb-card-text>

					<a
						class="btn waves-effect purple-gradient"
						style="margin-left: 0px"
						href="https://firebasestorage.googleapis.com/v0/b/gj-brieven.appspot.com/o/sollicitatie%2Fsoll%201%20met.pdf?alt=media&token=54c0bf45-499a-4ce1-87f5-5eb08f44e93a"
						>Bekijk
					</a>
				</mdb-card-body>
			</mdb-card>
			<!-- Card -->
		</div>
		<!-- Card -->
		<div class="col-lg-4 col-md-6 col-12">
			<mdb-card>
				<div class="view rgba-white-slight waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img
						src="assets/img/job-interview-download.jpg"
						alt="Card image cap"
					></mdb-card-img>
					<a>
						<div class="mask"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Sollicitatie 2</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text>
						Bekijk hier mijn sollicitatiebrief voor Autoriteit Consument en
						Markt.
					</mdb-card-text>

					<a
						class="btn waves-effect purple-gradient"
						style="margin-left: 0px"
						href="https://firebasestorage.googleapis.com/v0/b/gj-brieven.appspot.com/o/sollicitatie%2Fsoll%202%20met.pdf?alt=media&token=74823935-2324-4b33-a7a3-ac43af793933"
						>Bekijk
					</a>
				</mdb-card-body>
			</mdb-card>
			<!-- Card -->
		</div>
		<div class="col-lg-4 col-md-6 col-12">
			<mdb-card>
				<div class="view rgba-white-slight waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img
						src="assets/img/admin.jpg"
						alt="Card image cap"
					></mdb-card-img>
					<a>
						<div class="mask"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Sollicitatie 3</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text>
						Bekijk hier mijn sollicitatiebrief voor administratief medewerker.
					</mdb-card-text>

					<a
						class="btn waves-effect purple-gradient"
						style="margin-left: 0px"
						href="https://firebasestorage.googleapis.com/v0/b/gj-brieven.appspot.com/o/sollicitatie%2Fsoll%203%20met.pdf?alt=media&token=22cf6135-d2e5-4751-864c-817983548efd"
						>Bekijk
					</a>
				</mdb-card-body>
			</mdb-card>
			<!-- Card -->
		</div>
		<div class="col-lg-4 col-md-6 col-12">
			<mdb-card>
				<div class="view rgba-white-slight waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img
						src="assets/img/job-interview-download.jpg"
						alt="Card image cap"
					></mdb-card-img>
					<a>
						<div class="mask"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Sollicitatie 4</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text>
						Open sollicitatiebrief aan schouwburg Doetinchem.
					</mdb-card-text>

					<a
						class="btn waves-effect purple-gradient"
						style="margin-left: 0px"
						href="https://firebasestorage.googleapis.com/v0/b/gj-brieven.appspot.com/o/sollicitatie%2Fsoll4%20met.pdf?alt=media&token=719f12ba-0528-443f-8da8-36b737a842c2"
						>Bekijk
					</a>
				</mdb-card-body>
			</mdb-card>
			<!-- Card -->
		</div>
		<div class="col-lg-4 col-md-6 col-12">
			<mdb-card>
				<div class="view rgba-white-slight waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img
						src="assets/img/violin.jpg"
						alt="Card image cap"
					></mdb-card-img>
					<a>
						<div class="mask"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Sollicitatie 5</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text>
						Bekijk hier mijn sollicitatiebrief waar ik solliciteer bij André
						Rieu Studio’s.
					</mdb-card-text>

					<a
						class="btn waves-effect purple-gradient"
						style="margin-left: 0px"
						href="https://firebasestorage.googleapis.com/v0/b/gj-brieven.appspot.com/o/sollicitatie%2Fsoll%205%20met.pdf?alt=media&token=4a6d0c3a-fd03-429b-b5e5-293f260b2b77"
						>Bekijk
					</a>
				</mdb-card-body>
			</mdb-card>
			<!-- Card -->
		</div>
		<div class="col-lg-4 col-md-6 col-12">
			<mdb-card>
				<div class="view rgba-white-slight waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img
						src="assets/img/bbc.jpg"
						alt="Card image cap"
					></mdb-card-img>
					<a>
						<div class="mask"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Sollicitatie 6</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text>
						Bekijk hier mijn zesde sollicitatiebrief waar ik solliciteer bij BCC.
					</mdb-card-text>

					<a
						class="btn waves-effect purple-gradient"
						style="margin-left: 0px"
						href="https://firebasestorage.googleapis.com/v0/b/gj-brieven.appspot.com/o/sollicitatie%2Fsoll%206%20met.pdf?alt=media&token=0249e2b9-70fa-43c7-8c91-01bd881395ed"
						>Bekijk
					</a>
				</mdb-card-body>
			</mdb-card>
			<!-- Card -->
		</div>
		<div class="col-lg-4 col-md-6 col-12">
			<mdb-card>
				<div class="view rgba-white-slight waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img
						src="assets/img/zoo.jpg"
						alt="Card image cap"
					></mdb-card-img>
					<a>
						<div class="mask"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Sollicitatie 7</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text>
						Bekijk hier mijn zevende sollicitatiebrief waar ik solliciteer bij
						dierenpark Rhenen.
					</mdb-card-text>

					<a
						class="btn waves-effect purple-gradient"
						style="margin-left: 0px"
						href="https://firebasestorage.googleapis.com/v0/b/gj-brieven.appspot.com/o/sollicitatie%2Fsoll%207%20met.pdf?alt=media&token=81d79ece-4551-4799-b489-b27224d78da5"
						>Bekijk
					</a>
				</mdb-card-body>
			</mdb-card>
			<!-- Card -->
		</div>
		<div class="col-lg-4 col-md-6 col-12">
			<mdb-card>
				<div class="view rgba-white-slight waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img
						src="assets/img/job-interview-download.jpg"
						alt="Card image cap"
					></mdb-card-img>
					<a>
						<div class="mask"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Sollicitatie 8</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text>
						Creactieveling?
					</mdb-card-text>

					<a
						class="btn waves-effect purple-gradient"
						style="margin-left: 0px"
						href="https://firebasestorage.googleapis.com/v0/b/gj-brieven.appspot.com/o/sollicitatie%2Fsoll%208%20met.pdf?alt=media&token=0c2d02e3-6a0c-4521-8bed-eed0713b95a7"
						>Bekijk
					</a>
				</mdb-card-body>
			</mdb-card>
			<!-- Card -->
		</div>
		<div class="col-lg-4 col-md-6 col-12">
			<mdb-card>
				<div class="view rgba-white-slight waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img
						src="assets/img/job-interview-download.jpg"
						alt="Card image cap"
					></mdb-card-img>
					<a>
						<div class="mask"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Sollicitatie 9</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text>
						Bekijk hier mijn negende sollicitatiebrief waar ik solliciteer bij een
						installatiegroep.
					</mdb-card-text>

					<a
						class="btn waves-effect purple-gradient"
						style="margin-left: 0px"
						href="https://firebasestorage.googleapis.com/v0/b/gj-brieven.appspot.com/o/sollicitatie%2Fsoll%209%20met.pdf?alt=media&token=3938236f-19a1-48b4-95b3-8ff06c212bbb"
						>Bekijk
					</a>
				</mdb-card-body>
			</mdb-card>
			<!-- Card -->
		</div>
		<div class="col-lg-4 col-md-6 col-12">
			<mdb-card>
				<div class="view rgba-white-slight waves-light img" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img
						src="assets/img/bunq.png"
						alt="Card image cap"
					></mdb-card-img>
					<a>
						<div class="mask"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Sollicitatie 10</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text>
						Bekijk hier mijn tiende sollicitatiebrief waar ik solliciteer bij Bunq.
					</mdb-card-text>

					<a
						class="btn waves-effect purple-gradient"
						style="margin-left: 0px"
						href="https://firebasestorage.googleapis.com/v0/b/gj-brieven.appspot.com/o/sollicitatie%2Fsoll%2010%20met.pdf?alt=media&token=807bd7f9-9419-42ae-b482-c7b2bfc8f4af"
						>Bekijk
					</a>
				</mdb-card-body>
			</mdb-card>
			<!-- Card -->
		</div>
	</div>
</div>
