<!-- <div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="h2-responsive mt-3 mb-2">404. That's an error.</h2>
      <h4>The requested URL was not found on this server.</h4>
    </div>
    <div class="col-md-4">
      <img
        src="https://mdbootstrap.com/img/Others/grafika404-bf.png"
        alt="Error 404"
        class="img-fluid"
      />
    </div>
  </div>
</div> -->
<section class="view intro-2" style="height: 15vh;">
  <div class="mask">
    <div
      class="container h-100 d-flex justify-content-center align-items-center"
    >
      <div class="row h-100 d-flex justify-content-center align-items-center">
        <div
          class="col-md-12 col-lg-12 text-center text-md-left mt-5 pt-4 pt-md-0 mt-lg-0 mb-5 mb-md-0"
        >
          <!-- <h1><b>Blog</b></h1> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section
  style="
    background: url(https://mdbootstrap.com/img/Others/grafika404-bf.png);
    background-repeat: no-repeat;
    background-size: length;
    background-position: center center;
    height: 50vh;
  "
></section>
<section class="view intro-2" style="height: 15vh;">
  <div class="mask">
    <div
      class="container h-100 d-flex justify-content-center align-items-center"
    >
      <div class="row h-100 d-flex justify-content-center align-items-center">
        <div
          class="col-md-12 col-lg-12 text-center text-md-left mt-5 pt-4 pt-md-0 mt-lg-0 mb-5 mb-md-0"
        >
          <!-- <h1><b>Blog</b></h1> -->
        </div>
      </div>
    </div>
  </div>
</section>
