<section
  class="view intro-2"
  style="
    background-image: linear-gradient(
        to bottom,
        rgba(245, 246, 252, 0.52),
        rgba(176, 162, 179, 0.7)
      ),
      url(assets/img/timeline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 50vh;
  "
>
  <div class="mask">
    <div
      class="container h-100 d-flex justify-content-center align-items-center"
    >
      <div class="row h-100 d-flex justify-content-center align-items-center">
        <div
          class="col-md-12 col-lg-12 text-center text-md-left mt-5 pt-4 pt-md-0 mt-lg-0 mb-5 mb-md-0"
        >
          <h1><b>Tijdlijn</b></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <h2><b>Mijn tijdlijn</b></h2>
      Vanaf het moment dat je werkloos bent wil iedereen je cv hebben. Nou hier
      is ie dan: mijn tumultueuze loopbaan van de afgelopen vijf jaar in een
      paar regels.<br /><br />
      Wil je mijn volledige tijdlijn zien? Registreer je nu
      <a routerLink="/register">hier</a> gratis en zie mijn complete loopbaan.
    </div>
    <div class="col-md-12 col-lg-6 mb-5 text-center">
      <!-- Image -->
      <!-- <img
        src="https://mdbootstrap.com/img/Photos/Others/images/95.jpg"
        class="img-fluid rounded z-depth-1"
        alt="My photo"
      /> -->
      <!-- Vertical Steppers -->
      <div class="row mt-1">
        <div class="col-md-12">
          <!-- Stepers Wrapper -->
          <!-- Stepers Wrapper -->
          <ul class="stepper stepper-vertical">
            <!-- First Step -->
            <li class="completed">
              <a href="#!">
                <span class="circle purple-gradient">1</span>
                <span class="label">1990 - 2015</span>
              </a>

              <!-- Section Description -->
              <div class="step-content grey lighten-3">
                <span>
                  Journalist
                </span>
              </div>
            </li>

            <!-- Second Step -->
            <li class="active">
              <!--Section Title -->
              <a href="#!">
                <span class="circle purple-gradient">2</span>
                <span class="label">december 2017</span>
              </a>

              <!-- Section Description -->
              <div class="step-content grey lighten-3">
                <span>
                  Lascursus
                </span>
              </div>
            </li>

            <!-- Third Step -->
            <li class="active">
              <a href="#!">
                <span class="circle purple-gradient">3</span>
                <span class="label">januari - november 2018</span>
              </a>

              <!-- Section Description -->
              <div class="step-content grey lighten-3">
                <span>
                  Metaalbewerker
                </span>
              </div>
            </li>

            <!-- Third Step -->
            <li class="active">
              <!-- <a href="#!">
                <span class="circle purple-gradient">3</span>
                <span class="label">januari - november 2018</span>
              </a> -->

              <!-- Section Description -->
              <!-- <div class="step-content grey lighten-3">
                <span>
                  Metaalbewerker
                </span>
              </div> -->
            </li>
            <!-- 
            <li class="active">
              <a href="#!">
                <span class="circle purple-gradient">4</span>
                <span class="label">november - juni 2019</span>
              </a>

              <div class="step-content grey lighten-3">
                <span>
                  Orderpicker
                </span>
              </div>
            </li>

            <li class="active">
              <a href="#!">
                <span
                  class="circle"
                  style="background-color: white !important;"
                ></span>
                <span class="label"></span>
              </a>
            </li> -->
          </ul>
          <!-- /.Stepers Wrapper -->
        </div>
      </div>
    </div>
  </div>
</div>
